body {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin: 0;
    overflow: hidden;
}

canvas {
    overflow: hidden;
}

.big-info {
    font-weight: bold;
    font-size: large;
}

#dynamic-info {
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
}

#elapsed {
    position: absolute;
    bottom: 16px;
    right: 8px;
}

#distance {
    bottom: 16px;
    left: 8px;
    width: 200px;
    position: absolute;
}

#bar {
    background-color: white;
    position: absolute;
    height: 10px;
    width: 100%;
}

#infos {
    bottom: 0pt;
    position: absolute;
    z-index: 100;
    width: 100%;
    display: flex;
    margin : 0;
    justify-content: center;
    align-items: center;
}
#settings {
    text-align: left;
    vertical-align:bottom;
    display:inline-flex;
    flex-basis: max-content;
}

li{
    list-style: none;
    margin: 8pt 0 0 0;
}
ul {
    margin-left: 0;
    padding-left: 0;
}

.tab {
    display: inline-block;
    width: 200px;
}