<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title><%= pageName %> - meca3-example</title>
  </head>

  <body class="<%= pageName %>">
    <div class="big-info" id="dynamic-info">
      <span class="tab">Momentum (kg.m/s) </span><span id="momentum"></span>
    </div>

    <div id="help">
      <nav id="navigation-help">
        <ol>
          <li class="solar-system">
            <a href="./solar-system.html">Solar system</a>
          </li>
          <li class="ballistic"><a href="./ballistic.html">Ballistic</a></li>
          <li class="coulomb"><a href="./coulomb.html">Coulomb</a></li>
          <li class="gravity"><a href="./gravity.html">Gravity</a></li>
          <li class="lorentz"><a href="./lorentz.html">Lorentz</a></li>
          <li class="pendulum"><a href="./pendulum.html">Pendulum</a></li>
          <li class="pendulums"><a href="./pendulums.html">Pendulums</a></li>
          <li class="spring"><a href="./spring.html">Spring</a></li>
        </ol>
      </nav>
    </div>
    <div id="infos">
      <div id="settings">
        <ul>
          <li><span class="tab">Frame</span><span id="frame"></span></li>
          <li>
            <span class="tab">Steps per frame </span><span id="samples"></span>
          </li>
          <li><span class="tab">Physics step</span><span id="dt"></span></li>
          <li><span class="tab">Total step</span><span id="delta"></span></li>
        </ul>
      </div>
    </div>
    <div id="distance">
      <div class="big-info" id="scale"></div>
      <div id="bar"></div>
    </div>

    <div class="big-info" id="elapsed"></div>
  </body>

  <link rel="stylesheet" type="text/css" href="style.css" />

  <script>
    if ("serviceWorker" in navigator) {
      window.addEventListener("load", () => {
        navigator.serviceWorker
          .register("service-worker.js")
          .then((registration) => {
            console.log("Service Worker registered: ", registration);
          })
          .catch((registrationError) => {
            console.error(
              "Service Worker registration failed: ",
              registrationError
            );
          });
      });
    }
  </script>
</html>
